.title{
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     letter-spacing: 1px;
     padding: 40px 0px 0px;
}
.nav-pills{
     flex-direction: row !important;
     justify-content: center;
     align-items: center;
     max-width: 500px;
     margin: 0px auto;
}
.nav-item .active{
     background-color: #800080 !important;
     color: white !important;
}
.nav-pills li .nav-link {
     font-size: 20px;
     color: #800080;
}

.kingspay{
     width: 25px ;
     height: 25px ;
}
.bank{
     padding: 10px 50px;
}
.content{
     padding: 10px 50px;
}
.bank-title{
     font-weight: 700;
}
.kingspay-link{
     padding: 15px 20px;
     border-radius: 4px;
     background-color: #800080;
     color: white;
}
.kingspay-link:hover{
     color: white;
}
@media (max-width: 767px){
     .title{
          font-size: 16px;
     }
     .nav-pills li .nav-link {
          font-size: 18px;
     }
     .sub-title{
          font-size: 18px;
     }
     .bank{
          padding: 10px;
     }
     .content{
          padding: 10px;
     }
     .content p {
          font-size: 16px;
     }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
     .title{
          font-size: 24px;
     }
     .nav-pills li .nav-link {
          font-size: 18px;
     }
     .sub-title{
          font-size: 18px;
     }
     .bank{
          padding: 10px;
     }
     .content{
          padding: 10px;
     }
     .content p {
          font-size: 16px;
     }
}
